{{set . "title" "Herman Schaaf"}}
{{template "header.html" .}}
</head>
{{set . "postTitle" "IronZebra"}}
{{template "base.html" .}}
                <h1>Toshipon@sketch.book</h1>
                <h2>Building web applications in Tokyo. <a href="{{url "Blog.List" }}" title="Fair warning: It's mostly about boring programming stuff">Read the blog</a></h2>

                <hr/>
                
                <p>I am Toshiaki Takahashi, I'm working as a Front-end engineer. I like Chaplin.js using CoffeeScript. I enjoy books and curry. I aim to become a curry programmer!</p>

                <hr/>

                {{if .result.ShortID}}<p>You might also like my latest blog post, <a href="{{url "Blog.Show" .result.Category .result.ShortID .result.Slug }}">{{.result.Title}}</a></p>{{end}}
            </div>
        </div>
    </div>
{{template "footer.html" .}}

