<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    {{if .title}}
    	<title>{{.title}} | Toshipon@sketch.book</title>
    {{else}}
    	<title>Toshipon@sketch.book</title>
    {{end}}
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="/public/css/base.css">
    {{if .canonical}}
    <link rel="canonical" href="{{.rootUrl}}{{.canonical}}" />
    {{end}}
    <link rel="shortcut icon" href="/public/images/favicon.ico" type="image/x-icon">
	<link rel="icon" href="/public/images/favicon.ico" type="image/x-icon">
    <script type="text/javascript" src='http://code.jquery.com/jquery-2.0.3.min.js'></script>
    <script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-4436433-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
